.git
.github
.gitignore
.gitattributes
.venv
venv
env
.env
.env.*

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pyright/
.ruff_cache/

.idea/
.vscode/
.DS_Store
Thumbs.db

data/raw/
evaluation/
notebooks/
scripts/
tests/

*.ipynb
*.log
README.md
